body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  background-color: cornsilk;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 1rem;
  width: 7em;
  font-weight: bolder;
  font-size: 2rem;
}

select {
  margin-left: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: bolder;
  font-size: 1rem;
}

.equals {
  font-weight: bolder;
  font-size: 3rem;
  margin-top: 1rem;
  color: white;
}
.text {
  color: beige;
}
.container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 50rem;
  height: 20rem;
  border-radius: 2rem;
  margin: 10rem;
}
